/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500&display=swap');

/* Dafault */
*{
    padding: 0;
    margin: 0;
}

/* General */

body{
    background-color: lightblue;
    background-image: radial-gradient(circle, #1044d6, #2559dc, #3b6ce1, #517fe4, #6791e6, #62a1ee, #62b0f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

h1{
    background-image: radial-gradient(circle, #1044d6, #2559dc, #3b6ce1, #517fe4, #6791e6, #62a1ee, #62b0f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin: 10px 15vw;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px lightseagreen ;
    color: white;
}


.main{
    display: flex;
    justify-content: space-evenly;
}

/* Carta--------------------------------------------------------------------- */
.card{
    /* Estilo */
    width: 12.9cm;
    height: 19.6cm;
    margin: 50px 0;
    background-color: white;
    border: solid white .3cm;
    box-shadow: 3px 3px 5px black, 
                -3px -3px 5px black;
   

    /* Propiedades de grid */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: .5cm;
    column-gap: .3cm;

}


.item{

    position: relative;
    border: solid 2px black;
}

.item img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Titulo de item */
.item h2{

    /* Limites del titulo */
    max-width: 2.9cm;
    max-height: .9cm;
    overflow: hidden;
    


    /* Alineacion de titulo */
    position: absolute;
    font-size: 1rem;
    top: 78%;
    left: 50%;
    transform: translate(-50%,0);


    /* Letra */
    text-align: center;
    line-height: .4cm;

    font-family: 'Roboto', sans-serif;

    
}

/* Numero de item */
.item span{
    position: absolute;
    top:.1cm;
    left: .15cm;
    font-family: 'Lobster', cursive;
}

/* reload-buttom -----------------------------------------------------------*/
.reload-buttom{
    position: relative;
    display: block;
    width: 2cm;
    height: 2cm;
    align-self: center;
    transform: translate(-6cm,0);
    cursor: pointer;
    border-radius: 20%;
    transition: .2s;
    background-color: lightgreen;
    
}

.reload-buttom img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.reload-buttom:active{
    box-shadow: 0 0 100px khaki ;
}
/* Cartas------------------------------------------------------------------ */

.cards{
    /* general properties */
    margin: 50px auto;
    height: auto;
    width: 88.5vw;
    border: solid black 2px;
    box-shadow: 3px 3px 5px black, 
    -3px -3px 5px black;

    /* Grid properties */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4.5cm,1fr)) ;
    grid-template-rows: repeat(7,minmax(7cm,1fr));
    background-color: white;
    gap: .3cm;
    
    
}

.cards .items{
    position: relative;
    border: solid black 2px;
}

/* Imagen del item */
.items img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Titulo de item */
.items h2{

    /* Limites del titulo */
    max-width: 4.9cm;
    max-height: 50cm;
    overflow: hidden;
    


    /* Alineacion de titulo */
    position: absolute;
    font-size: 1rem;
    top: 78%;
    left: 50%;
    transform: translate(-50%,0);


    /* Letra */
    text-align: center;
    line-height: .8cm;
    font-size: 30px;
    /* color:purple; */
    
    font-family: 'Roboto', sans-serif;
   
    
    /* background-color: red; */
    
}

/* Numero de item */
.items span{
    position: absolute;
    top:.1cm;
    left: .15cm;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}